.loan-calculator-container body {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bab5e3;
}

.loan-calculator-container .container {
    height: auto;
    width: 90%;
    border-radius: 20px;
    padding: 20px;
    margin: 50px auto;
    background-image: #F3F5FA;
	display: flex;
	justify-content: center;
    align-items: center;
	flex-direction: column;

}

.loan-calculator-container .sub-container {
    display: flex;
    width: 100%;
    gap: 50px;
    height: max-content;
}

.loan-calculator-container .header {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.loan-calculator-container .header button {
    height: max-content;
    width: max-content;
    padding: 10px;
    border: none;
    background-color: transparent;
    font-size: 35px;
    color: #9088d2;
}

.loan-calculator-container .header button:hover {
    cursor: pointer;
}

.loan-calculator-container .view,
.loan-calculator-container .breakup {
    width: 50%;
}

.loan-calculator-container .details input {
    width: 100%;
}

.loan-calculator-container .detail {
    display: flex;
    justify-content: space-between;
}

.loan-calculator-container .footer {
    display: flex;
    justify-content: space-between;
}

/* Rest of the styles remain the same */


/*----- Styling the sliders ----*/
.loan-calculator-container input[type="range"] {
	/* -webkit-appearance: none; */
	margin: 10px 0;
	width: 100%;
}

.loan-calculator-container input[type="range"]:focus {
	outline: none;
}

.loan-calculator-container input[type="range"]::-webkit-slider-runnable-track {
	width: 100%;
	height: 6px;
	cursor: pointer;
	background: #9088d2;
	border-radius: 10px;
}

.loan-calculator-container input[type="range"]::-webkit-slider-thumb {
	box-shadow: 2px 2px 5px #b3b3b3, -1px -1px 3px grey;
	border: 5px solid #ffffff;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: #9088d2;
	cursor: pointer;
	margin-top: -6px;
	-webkit-appearance: none;
}

.loan-calculator-container input[type="range"]:focus::-webkit-slider-runnable-track {
	background: #b3b3b3;
}

.loan-calculator-container input[type="range"]::-moz-range-track {
	width: 100%;
	height: 6px;
	cursor: pointer;
	background: #9088d2;
	border-color: transparent;
	border-width: 16px 0;
	color: transparent;
	border-radius: 10px;
}

.loan-calculator-container input[type="range"]::-moz-range-thumb {
	box-shadow: 2px 2px 5px #b3b3b3, -1px -1px 3px grey;
	border: 5px solid #ffffff;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: #9088d2;
	cursor: pointer;
	margin-top: -6px;
}

.loan-calculator-container input[type="range"]::-ms-track {
	width: 100%;
	height: 6px;
	cursor: pointer;
	background: #9088d2;
	border-color: transparent;
	border-width: 16px 0;
	color: transparent;
	border-radius: 10px;
}

.loan-calculator-container input[type="range"]::-ms-fill-lower {
	background: #9088d2;
	border-radius: 5px;
}

.loan-calculator-container input[type="range"]::-ms-fill-upper {
	background: #9088d2;
	border-radius: 5px;
}

.loan-calculator-container input[type="range"]::-ms-thumb {
	box-shadow: 2px 2px 5px #b3b3b3, -1px -1px 3px grey;
	border: 5px solid #ffffff;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: #9088d2;
	cursor: pointer;
	margin-top: -6px;
}

.loan-calculator-container input[type="range"]:focus::-ms-fill-lower {
	background: #9088d2;
}

.loan-calculator-container input[type="range"]:focus::-ms-fill-upper {
	background: #9088d2;
}

/*-------------------------------------*/
.loan-calculator-container #price {
	color: #130f31;
	font-size: 25px;
}

.loan-calculator-container .loan-details {
	width: 90%;
	display: flex;
	justify-content: space-between;
	gap: 30px;
}

.loan-calculator-container #price-container {
	color: #9088d2;
	margin-top: 50px;
}

.loan-calculator-container #price-container::before {
	content: "Your Home Loan EMI will be";
	font-size: 25px;
	display: block;
}